<template>
  <div class="home">
    <div class="sensors">
      <ul class="sensors__list">
        <li
          v-for="(sensor, i) in sensors"
          :key="i"
          class="sensors__item"
        >
          <button
            class="sensors__btn"
            :class="{
              'sensors__btn_active': showedSensors.includes(sensor),
            }"
            :style="{
              '--sensors-btn-color': colors[sensor],
            }"
            @click="onClickSensor(sensor)"
          >{{ sensor }}</button>
        </li>
      </ul>
    </div>
    <div class="charts">
      <Chart
        v-for="(key, i) in graphs"
        :key="i"
        :title="key"
        :data="sensorData[key]"
        :colors="colors"
        :sensors="showedSensors"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Home',
  components: {
    Chart: () => import(/* webpackChunkName: "Chart" */ '@/components/Chart.vue'),
  },
  data() {
    return {
      apiHost: 'sensors.remonstro.ru',
      graphs: ['current', 'second', 'minute', 'hour', 'day'],
      sensors: ['co2', 'tVOC', 'pres', 'temp', 'hum', 'timedelta'],
      colors: {
        co2: 'red',
        tVOC: 'blue',
        pres: 'green',
        temp: 'yellow',
        hum: 'violet',
        timedelta: 'gray',
      },
      showedSensors: [],
      sensorData: {},
      connectTimeout: null,
    };
  },
  computed: {
    apiUrl() {
      return `http://${this.apiHost}/api/sensors/1/`;
    },
    timedelta() {
      return this.sensorData.current?.slice(-1)[0]?.timedelta;
    },
  },
  mounted() {
    this.graphs.forEach((key) => {
      this.getData(key);
    });
    this.connectWs();

    this.showedSensors = [...this.sensors];
  },
  methods: {
    async getData(type) {
      const res = await axios.request({ method: 'get', url: this.apiUrl, params: { type } });
      this.$set(this.sensorData, type, res.data);
    },
    connectWs() {
      const ws = new WebSocket(`ws://${this.apiHost}/ws`);
      ws.onmessage = (e) => {
        let data = {};
        try {
          data = JSON.parse(e.data);
        } catch (error) {
          console.log(error);
        }
        this.graphs.forEach((key) => {
          if (data.type === key) {
            if (this.sensorData[key]?.length >= 100) this.sensorData[key].shift();
            this.sensorData[key].push(data.data);
          }
        });
      };

      ws.onclose = (e) => {
        if (!e.reason) {
          clearTimeout(this.connectTimeout);
          this.connectTimeout = setTimeout(() => {
            this.connectWs();
          }, 1000);
        }
        console.log('close', e);
      };
    },
    onClickSensor(sensor) {
      const index = this.showedSensors.indexOf(sensor);
      if (index > -1) {
        this.$delete(this.showedSensors, index);
      } else {
        this.showedSensors.push(sensor);
      }
    },
  },
};
</script>
<style lang="scss">
.home {
  position: relative;
}
.sensors {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: white, $alpha: .8);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: auto;
  }

  &__item {
    margin: 0;
    flex: 1;
    text-align: center;
  }

  &__btn {
    padding: .5rem 1rem;
    line-height: 1;
    font-size: 1rem;
    color: var(--sensors-btn-color, gray);
    background-color: white;
    border: 1px solid var(--sensors-btn-color, gray);
    cursor: pointer;
    user-select: none;
    transition: all .3s;
  }

  &__btn_active {
    color: white;
    background-color: var(--sensors-btn-color, gray);
  }
}

.charts {
  margin-top: 2rem;
}
</style>
