<template>
  <div>
    <canvas ref="chart" width="800" height="500"></canvas>
  </div>
</template>

<script>
// import { Chart, BarElement, BarController } from 'chart.js';
import Chart from 'chart.js/auto';
// Chart.register(BarElement, BarController);

export default {
  props: {
    data: {
      type: Array,
      default: () => ([]),
    },
    sensors: {
      type: Array,
      default: () => ([]),
    },
    colors: {
      type: Object,
      default: () => ({}),
    },
    title: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  computed: {
    labels() {
      const format = (timestamp) => {
        const date = new Date(timestamp);
        let result = '';
        switch (this.title) {
          case 'current':
          case 'second':
            result = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
            break;
          case 'minute':
          case 'hour':
            result = `${date.getHours()}:${date.getMinutes()}`;
            break;
          case 'day':
            result = `${date.getDate()}-${date.getMonth()}`;
            break;
          default:
            break;
        }
        return result;
      };
      return this.data.map((item) => format(item.timestamp));
    },
    datasets() {
      let datasets = this.sensors;
      const { colors } = this;
      datasets = datasets.map((label) => ({
        label,
        data: this.data.map((data) => data[label]),
        borderColor: colors[label],
      }));
      return datasets;
    },
  },
  watch: {
    datasets: {
      immediate: true,
      deep: true,
      handler() {
        if (typeof this.chart?.update === 'function') {
          this.chart.data.labels = this.labels;
          this.chart.data.datasets = this.datasets;
          this.chart.update('none');
        }
      },
    },
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      const chartCtx = this.$refs.chart?.getContext('2d');
      if (!chartCtx) return;

      this.chart = new Chart(chartCtx, {
        type: 'line',
        data: {
          labels: this.labels,
          datasets: this.datasets,
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: this.title,
            },
          },
        },
      });
    },
  },
};
</script>

<style>
</style>
